li p a {
color: #000000 !important; /* This makes links in lists look the same as the other text */
}

.title-slide > h3:first-of-type { /* Author */
  padding-left: 30px;
  padding-bottom: 20px;
  margin: 0px;
  color: #ffffff;
  text-align: left;
}

.featuretable {
  table-layout: fixed !important;
  width: 100% !important;
}
.featuretable > thead > tr > th, .featuretable > tbody > tr > td {
  width: 33% !important;
} 
.featuretable tbody tr td img{
  width: 100% !important;
} 